.settings__aside {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100vh;
    padding: 16px;
    z-index: 100;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.settings__aside[aria-expanded="false"] {
    width: 0;
    height: 0;
    padding: 0;
}