@import "../base/var";
@import "../base/mixin";


//template 틀 css
.universe__main{
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
    padding: 40px;
}

//background 하단부 이미지
.universe__bg-img{
    position: absolute;
    left: -300px;
    bottom: -300px;

    & > img{
        width: 800px;
    }
}
.universe__content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
    padding: 96px 104px;
    border-radius: 10px;
    background-color: $backColor;
    overflow: hidden;

    background-image: url(../img/universe-blur1.png);
    background-repeat: no-repeat;
}


//header - 기본정보 영역
.universe__content-header{
    margin: 0 0 60px 0;
    display: flex;
}
//프로필 이미지 영역
.universe__content-headerProfile{

    .sample{
        position: absolute;
        z-index: 1;
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    .universe{
        width: 262px;
        height: 150px;
        position: relative;
        right: 52px;
    }
}
.universe__content-headerTitle{
    display: inline-block;
    position: relative;
    right: 50px;

    .name{
        margin: 0 0 20px 0;
        font-size: 2.4rem;
        font-weight: 600;
        color: #fff;
    }
    .job{
        margin: 0 0 25px 0;
        font-size: 1.6rem;
        font-weight: 600;
        color: #fff;
    }
    .techStack{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .techStack > div{
        background-color: $mainColor;
        border-radius: 20px;
        padding: 6px 15px;
        font-weight: 400;
        font-size: 0.9rem;
    }
}


//profile, introduce 공통 css
.universe__content-category{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
/* 카테고리 타이틀 형식 */
.titleBar{
    @include titleBarStyle();
}
/* propile, introduce 적용되는 내용 */
.contentContainer{
    padding: 25px 30px 25px 30px;
    border: solid 1px $borderColor;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


//profile
.universe__content-profileContent{

    display: flex;
    flex-direction: column;
    gap: 20px;

    .number, .email, .address{
        display: grid;
        grid-template-columns: 20% 80%;

        .tag{
            width: 140px;
            font-size: 1rem;
            line-height: 1.7;
            font-weight: 600;
            color: #d9d9d9;
        }
        .detail{
            @include contentparagraph();
        }
    }
}

//introduce_한 줄 소개
.universe__content-introduceContent{
    width: 100%;
    display: flex;
    flex-direction: row;

    h3{
        @include contentparagraph();        
    }
}

//category_이력사항 공통 css
.universe__content-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 50px 30px 50px 30px;
    border: solid 1px $borderColor;
    border-radius: 10px;
    border-color: $mainColor;
}
.categoryContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* 이력사항 소제목 */
.categoryTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    h3{
        @include titleStyle();
    }
    .titleLine{
        width: 100%;
        height: 1px;
        background-color: $mainColor;
    }
}
/* 구분선 */
.divider{
    width: 2px;
    height: 13px;
    background-color: #fff;
}
.dividerCircle{
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
}
.dividerHyphen{
    width: 8px;
    height: 2px;
    background-color: #fff;
}
/* textstyle */
.front{
    @include subtitleStyle();
}
.back{
    @include subtextStyle();
}


//category_이력사항 내용 템플릿
.categoryContents{
    display: flex;
    flex-direction: column;
    gap: 15px;

    .categorySubtitle{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .categoryBelong{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .categoryPeriod{
        display: flex;
        flex-direction: row;
        gap: 10px;

        h3{
            @include subtextStyle();
        }

        .periodWrap{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .categoryTask{
        @include subtextStyle();

        line-height: 1.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: normal;
        word-wrap: break-word;   
    }
}

//지원자에게 묻는 질문
.qnaContainer{
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba($color: #000, $alpha: 0.8);
    border-radius: 10px;
}
.universe__content-QnAList{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.qnaline{
    display: flex;
    flex-direction: row;
    gap: 15px;

    img{
        position: relative;
        top: 3px;
    }
}
.questionStyle{
    @include subtitleStyle();

    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;   
}
.answerStyle{
    @include answerStyle();

    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;   
}


//별도 css
.portfolioLinkIcon, .portfolioDownloadIcon, .questionIcon, .answerIcon{
    width: 20px;
    height: 20px;
}
.portfolioLink, .portfolioDownload{
    text-decoration: underline;
}
.universe__content-QnATitle{
    margin: 0 0 10px 0;
}