@import "../base/var";
@import "../base/mixin";


//메인 css
.universe__main{
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
    padding: 40px;
}

//background 하단부 이미지
.universe__bg-img{
    position: absolute;
    left: -300px;

    & > img{
        width: 800px;
    }
}
.universe__content{
    position: relative;
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
    padding: 96px 104px;
    border-radius: 10px;
    background-color: $backColor;
    overflow: hidden;

    background-image: url(../img/universe-blur1.png);
    background-repeat: no-repeat;

    /* @media screen and (max-width: 768px){
        
    } */
}


//header - 기본정보 영역
.universe__content-header{
    margin: 0 0 48px 0;
    display: flex;

    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}
.universe__content-headerProfile{

    .sample{
        position: absolute;
        z-index: 1;
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }

    .universe{
        width: 262px;
        height: 150px;
        position: relative;
        right: 52px;
    }
}
.universe__content-headerTitle{
    display: inline-block;
    position: relative;
    right: 50px;

    .universe__content-headerTitle-name{
        @include headerName();
    }
    .universe__content-headerTitle-position{
        @include headerPosition();
    }
    .universe__content-headerTitle-positionTag{
        display: flex
    }
    .universe__content-headerTitle-positionTag div{
        @include headerTag();
    }
}


//profile
.profileWrap{

    margin: 0 0 50px 0;

    .titleBar{
        @include categoryTitleSection();

        h2{
            @include categoryTitle();
        }
        img{
            width: 20px;
            height: 20px;
            margin: 0 0 0 15px;
            position: relative;
            top: 2px;
        }
    }

    .universe__content-profileContent{
        width: 100%;
        padding: 22px 30px 22px 30px;
        border: solid 1px $borderColor;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .universe__content-profileContent-number, .universe__content-profileContent-mail, .universe__content-profileContent-address{
            display: flex;
            margin: 0 0 20px 0;

            &:last-child{
                margin: 0;
            }

            .tag{
                flex-shrink: 0;
                width: 140px;
                font-size: 15px;
                line-height: 1.5;
                font-weight: 600;
                color: #d9d9d9;
            }

            .detail{
                font-size: 15px;
                font-weight: 400;
                line-height: 1.5;
                color: #fff;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                word-break: normal;
                word-wrap: break-word;
            }
        }
    }
}


//introduce_한 줄 소개
.universe__content-introduce{

    margin: 0 0 50px 0;

    .universe__content-introduceContent{
        @include categoryContents();

        h3{
            @include textstyleContent();

            line-height: 1.7;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-break: normal;
            word-wrap: break-word;            
        }
    }
}


//category_이력사항 템플릿
.universe__content-category{
    width: 100%;
    padding: 50px 30px 50px 30px;
    border: solid 1px $borderColor;
    border-radius: 10px;
    border-color: $mainColor;
}
.categoryWrap{
    width: 100%;
    margin: 0 0 50px 0;
}
//이력사항 소제목
.categoryTitle{
    width: 100%;
    margin: 0 0 30px 0;

    h3{
        @include textstyleCareer01();
    }
}
//이력사항 내용 템플릿
.categoryContents{

    .categorySubtitle{
        display: flex;
        margin: 0 0 10px 0;
    }

    .first{
        @include textstyleCareer02();
    }

    .second{
        @include textstyleCareer03();
    }

    .categoryBelong{
        display: flex;

        .front{
            @include textstyleCareer03();
            display: flex;
            align-items: center;

            &::after{
                content: '';
                display: inline-block;
                margin: 0 6px;
                width: 3px;
                height: 3px;
                border-radius: 10px;
                background-color: #fff;
            }
        }

        .back{
            @include textstyleCareer03();
        }
    }

    .categoryPeriod{
        display: flex;
        gap: 0px;

        h3{
            @include textstyleCareer03();
        }

        .periodWrap{
            display: flex;
        }

        .startedat{
            &::after{
                content: '-';
                display: inline-block;
                margin: 0 5px;
            }
        }

        .status{
            @include textstyleCareer03();
        }
    }
    
    .divider{
        margin: 0 10px 0 10px;
        width: 2px;
        height: 13px;
        background-color: #fff;
    }

    .categoryTask{
        @include textstyleCareer03();

        line-height: 1.5;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-break: normal;
            word-wrap: break-word;   
    }
}


//별도 수정
.universe__content-category-projectProject{
    
    .universe__content-category-projectPeriod{

        .first .endedat{
            margin: 0;
        }
    }
}